{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
{% include "page_head/page_head.html.twig" with {'page_name': 'Register'}%}
<div class="main_content">
<div  class="main_content">
    <div  class="login_register_wrap section">
        <div  class="container">
            <div  class="row justify-content-center">
                <div  class="col-xl-6 col-md-10">
                    <div  class="login_wrap">
                        <div  class="padding_eight_all bg-white">
                            <div  class="heading_s1">
                                <h3 >Create an Account</h3>
                            </div>
                            {# <form  novalidate="" ng-reflect-form="[object Object]"
                                class="ng-untouched ng-pristine ng-invalid"> #}
                                {{ form_start(registrationForm) }}
                                {{ form_errors(registrationForm) }}
                                {{ form_row(registrationForm.full_name) }}
                                {{ form_row(registrationForm.email) }}
                                {{ form_row(registrationForm.plainPassword) }}
                                {{ form_row(registrationForm.agreeTerms) }}
                                
                                
                                <div  class="form-group mb-3"><button
                                         type="submit" name="register"
                                        class="btn btn-fill-out btn-block">Register</button></div>
                            {{ form_end(registrationForm) }}
                            <div  class="different_login"><span >
                                    or</span></div>
                            {# <ul  class="btn-login list_none text-center">
                                <li ><a  href="#"
                                        class="btn btn-facebook"><i 
                                            class="ion-social-facebook"></i>Facebook</a></li>
                                <li ><a  href="#"
                                        class="btn btn-google"><i 
                                            class="ion-social-googleplus"></i>Google</a></li>
                            </ul> #}
                            <div  class="form-note text-center">Already have an account? <a
                                     href="/login">Log in</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    {# {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }} #}
{% endblock %}
